body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#menu {
  position: absolute;
  top: 45vh;
  left: 250px;
  background-color: #333;
  padding: 1rem 0.5rem 1rem 0.3rem;
}

/* triangle based on https://css-tricks.com/snippets/css/css-triangle/ */
.close {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:7px solid #DDD;
  margin: 0;
}

.open {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left:7px solid #DDD;
  margin: 0;
}

#map {
  /* position:absolute; */
  top: 0;
  left: 0;
  height: 100vh;
}

#sidebar {
  /* display: none; */
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  height: 100vh;
  width: 250px;
  top: 0;
  /* left: -300px; */
  left: 0;
  background-color: #333;
}

#sidebar h2 {
  color: #DDD;
  font-size: 1.3rem;
  margin-left: 1rem;
}

#search-container {
  width: 100%;
  /* height: 20px; */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#location-search {
  height: 86%;
  width: 90%;
  padding: 0;
}

#submit-location-search {
  height: 100%;
  width: 15%;
}

#locations-list {
  list-style: none;
  margin-top: 2rem;
  width: 100%;
  height: 100vh;
  padding: 0;
  overflow: scroll;
}

#locations-list li {
  padding: 0.5rem 0 0.5rem 1rem;
  color: #BBB;
  border-bottom: 1.25px solid #2D2D2D;
}

#locations-list li:hover {
  background-color: #555;
}
